@import '_reset.css';

$primary_color: rgb(32, 7, 71);

@mixin center-position {
	text-align: center;
}

@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}

body {
	background-image: url('../img/wallpaper-blur.jpg');
	background-size: cover;
}

header,
.random-article,
.search-article {
	@include center-position;
}

header {
	position: relative;
	margin-top: 10%;
	h1 {
		font-size: 45px;
		color: $primary_color;
	}
}

.random-article {
	font-size: 40px;
}

.random-article-click {
	text-decoration: none;
	color: $primary_color;
}

.random-article-click:visited {
	@extend .random-article-click;
}

.random-article-click:hover {
	text-decoration: underline;
	color: $primary_color;
}

.search-article {
	margin-top: 5%;
}

.content {
	width: 80%;
	margin-top: 7%;
	margin-left: 10%;
}

input[type='text'],
input[type='number'] {
	height: 70px;
	background: transparent;
	border: none;
	font-size: 30px;
	color: rgb(153, 185, 198);
}

input[type='text'] {
	width: 700px;
}

input[type='number'] {
	width: 250px;
}

#img-search {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	width: 70px;
}

.block {
	margin: 10px;
	background-color: grey;
	cursor: pointer;
}

.block:hover {
	border-left: 8px solid black;
}

.block-header {
	font-family: Helvetica Neue, Helvetica, Arimo, Liberation Sans, Lucida Grande, sans-serif;
	font-size: 26px;
}

.block-content {
	padding: 10px 10px 10px 20px;
	font-family: Times, Georgia, Linux Libertine, Cambria, serif;
	font-size: 20px;
}

.hide {
	display: none;
}
